<div class="container">
    <div class="col-12" *ngIf="user.profession==='Teacher'">
        <h3 class="text-secondary">Assign Work</h3>
        <hr>
        <form class="ui form" style="margin-top: 15px;" id="classwork_form" [formGroup]="createClasswork">
            <div class="field">
                <label for="assignment name">Assignment Name (Keep it unique)</label>
                <input type="text" class="form-control" name="assignmentname" id="assignmet_name"
                    placeholder="Assignment Name" required formControlName="assignmentname">
            </div>
            <div class="field">
                <label for="description">Details</label>
                <textarea class="form-control" name="details" id="details" rows="3"
                    placeholder="Description and Last Date of Submission" formControlName="details"></textarea>
            </div>
            <div class="field">
                <input type="file" class="form__upload" id="photo" accept=".pdf, .zip, .cpp" name="file"
                    (change)="fileUpload($event)">
            </div>
            <button class="ui inverted green button" (click)="createNewClasswork()">Assign</button>
        </form>
    </div>
</div>

<div class="container">

    <h4 class="display-4 text-center pt-5 pr-5 pl-5 pb-2">Assigned Classworks</h4>

    <table class="table table-striped table-primary mt-4" style="border: 0.5px solid #ddd;">
        <tr>

            <th class="text-center">Assignment Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">File</th>
            <th class="text-center">Submission</th>
        </tr>
        <tr *ngFor="let classwork of allClassworks">
            <td align="center">{{classwork.assignmentname}}</td>
            <td align="center">{{classwork.description}}</td>
            <td align="center">
                <a class=" text-white" (click)="makeFile(classwork.file, classwork.filename)"
                    style="color: white;">{{classwork.filename}}</a>
            </td>

            <td class="nav-item" align="center" *ngIf="user.profession==='Teacher'">
                <a href="" data-toggle="modal" [attr.data-target]="'#assignment'+classwork._id">
                    <button class="btn btn-outline-secondary btn-sm student-assignments"
                        data-assignmentID="assignment1">{{classwork.students.length}} students</button>

                </a>
                <i class="trash alternate outline icon float-right text-danger" style="cursor: pointer;"
                    (click)="deleteAssignment(classwork._id)"></i>



                <!-- Modal -->
                <div class="modal fade" [attr.id]="'assignment'+classwork._id" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered student_submission-modal" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="text-info">Total Submission: 1</h4>
                            </div>
                            <div class="modal-body lead" style="color: black;">
                                <table class="table table-striped table-primary mt-4">
                                    <tr>
                                        <th class="text-center">Student Name</th>
                                        <th class="text-center">Student Id</th>
                                        <th class="text-center">Student Assignment</th>
                                        <th class="text-center">Submitted On</th>
                                    </tr>
                                    <tr *ngFor="let assignment of classwork.submitted">
                                        <td align="center">{{assignment.studentname}}</td>
                                        <td align="center">{{assignment.id}}</td>
                                        <td align="center">
                                            <a class=" text-white"
                                                (click)="makeFile(classwork.file, classwork.filename)"
                                                style="color: white;">{{assignment.fileName}}</a>
                                        </td>
                                        <td align="center">{{assignment.date}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </td>


            <td class="nav-item" align="center" *ngIf="user.profession==='Student'">

                <button class="btn btn--green" data-assignmentID="" data-toggle="modal"
                    [attr.data-target]="'#assignment'+classwork._id" style="width: 200px">Submit
                    Assignment</button>

                <div class="modal fade" [attr.id]="'assignment'+classwork._id" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createClassLabel">Assign Your Work</h5>
                                <span class="close" data-dismiss="modal">&times;</span>
                            </div>
                            <div class="body">
                                <form class="p-3" [formGroup]="submitAssignment">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="assignmentsubmission"
                                            value="Assignment Submission" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="assignmentname">Assignment Name</label>
                                        <input type="text" class="form-control" name="assignmentname"
                                            placeholder="Assignment Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="details">Details</label>
                                        <input type="text" class="form-control" name="details"
                                            placeholder="Description">
                                    </div>
                                    <div class="form-group form__file-upload">
                                        <input type="file" class="form-control" id="photo" accept=".pdf, .zip, .cpp"
                                            name="file" (change)="fileUpload($event)" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        (click)="assignmentSubmission(classwork._id)">Assign</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>
