.container-fluid{
    background-image: url("./../../../assets/images/bg.png");

    background-size: cover;
    background-position:center;
    top: 0;
    left: 0;
    height: 100%;
}

.lead-text{
      font-size: 32px;
  background: -webkit-linear-gradient(#e9843d, #f8ece4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 1137px){
    .container-fluid{
        background-image: url("../../../assets/images/bg-1137.png");
    }
}

@media screen and (max-width: 1004px){
     .container-fluid{
        background-image: url("../../../assets/images/medium.png");
    } 
    .col-md-12{
        margin-top: 400px;
    }
}
@media screen and (max-width: 870px){
     .container-fluid{
        background-image: url("../../../assets/images/small.png");
    }
}