<div class="container-fluid" style="min-height: 100%; overflow: auto;">
    <div class="row">
        <div class="col-lg-7 d-none-md">
            <img src="../../../assets/images/lu-theme5.svg" class=" " alt="...">
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="ui container">
                <div class="signup-form">
                    <div class="logo">
                        <img src="../../../assets/images/lu-logo-2.png" alt="">
                    </div>
                    <div class="main-div">
                        <div class="panel">
                            <h1 class="text-lead text text-secondary pt-3 pb-5">Registration Form</h1>
                        </div>
                        <form id="signup" [formGroup]="signupForm">
                            <app-success [message]="signupStatus"></app-success>
                            <app-errors [message]="errorMessage"></app-errors>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="fname" class="form__label">First Name</label>
                                    <input type="text" id="fname" data-toggle="tooltip" class="form-control"
                                        placeholder="First Name" formControlName="firstname">
                                    <div *ngIf="signupForm.get('firstname').invalid && (signupForm.get('firstname').dirty || signupForm.get('firstname').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('firstname').errors.required">
                                            * Firstname is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="lname" class="form__label">Last Name</label>
                                    <input type="text" id="lname" data-toggle="tooltip" class="form-control"
                                        placeholder="Last Name" formControlName="lastname">
                                    <div *ngIf="signupForm.get('lastname').invalid && (signupForm.get('lastname').dirty || signupForm.get('lastname').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('lastname').errors.required">
                                            * Lastname is required.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="email" class="form__label">Email address</label>
                                    <input type="text" id="email" class="form-control" type="email"
                                        placeholder="you@example.com" name="email" formControlName="email">
                                    <div *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('email').errors.required">
                                            * Email is required.
                                        </div>
                                        <div *ngIf="signupForm.get('email').errors.email">
                                            * Please provide valid email
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="id" class="form__label">University Id</label>
                                    <input type="text" data-toggle="tooltip" class="form-control" name="id"
                                        placeholder="ID number" formControlName="id">
                                    <div *ngIf="signupForm.get('id').invalid && (signupForm.get('id').dirty || signupForm.get('id').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('id').errors.required">
                                            * Id is required.
                                        </div>
                                        <div *ngIf="signupForm.get('id').errors.pattern">
                                            * Id should be numbers only
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="password" class="form__label">Password</label>
                                    <div class="input-group mb-3">
                                        <input type="password" id="password" class="form-control" placeholder="********"
                                            name="password" id="pass" formControlName="password">
                                        <div class="input-group-append" (click)="showPass('pass')">
                                            <span class="input-group-text"><i class="eye slash icon"></i></span>
                                        </div>
                                    </div>

                                    <div *ngIf="signupForm.get('password').invalid && (signupForm.get('password').dirty || signupForm.get('password').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('password').errors.required">
                                            * Password is required.
                                        </div>
                                        <div *ngIf="signupForm.get('password').errors.pattern">
                                            * Password must be combination of uppercase and lowercase letters, numbers
                                            and
                                            special
                                            characters and min length is six
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="confirmPassword" class="form__label">Confirm Password</label>
                                    <div class="input-group mb-3">
                                        <input type="password" id="confirm_password" class="form-control"
                                            placeholder="********" name="confirm_password" id="confirm_pass"
                                            formControlName="confirm_password">
                                        <div class="input-group-append" (click)="showPass('confirm_pass')">
                                            <span class="input-group-text"><i class="eye slash icon"></i></span>
                                        </div>
                                    </div>

                                    <div *ngIf="signupForm.get('confirm_password').invalid && (signupForm.get('confirm_password').touched || signupForm.get('confirm_password').dirty)"
                                        class="alert alert-danger">
                                        * Password confirmation is required
                                    </div>

                                    <div *ngIf="signupForm.get('confirm_password').valid && signupForm.invalid && signupForm.errors?signupForm.errors.mismatch:null"
                                        class="alert alert-danger">
                                        * Password should match
                                    </div>
                                </div>
                            </div>



                            <div class="form-group row">

                                <div class="col-md-6">
                                    <label for="department" class="form__label">Department</label>

                                    <select class="form-control" name="department" id="department"
                                        formControlName="department">
                                        <option value=""> Department</option>
                                        <option [value]="item" *ngFor="let item of programNames">{{item}}</option>
                                    </select>

                                    <div *ngIf="signupForm.get('department').invalid && (signupForm.get('department').dirty || signupForm.get('department').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('department').errors.required">
                                            * Department is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="profession" class="form__label">Profession</label>
                                    <select class="form-control" name="profession" id="profession"
                                        formControlName="profession">
                                        <option value="">Profession</option>
                                        <option value="Teacher">Teacher</option>
                                        <option value="Student">Student</option>
                                    </select>
                                    <div *ngIf="signupForm.get('profession').invalid && (signupForm.get('profession').dirty || signupForm.get('profession').touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="signupForm.get('profession').errors.required">
                                            * Profession is required.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="reg-button" (click)="registerNewAccount()"
                                    [disabled]="signupForm.invalid">
                                    Sign Up
                                </button>
                            </div>
                            <p class="mr-3" style="cursor: pointer;" [routerLink]="['../signin']">* Already have an
                                account? Login</p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
