.acnt_container {
    width: 80%;
    margin: 2% auto;
    display: grid;
    padding: 0;
    grid-template-columns: 1.5fr 3fr;
    border-radius: 16px;
    border: 0.5px solid #dddddd;
}

.side-menu {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    margin-right: 15px;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, #7dd56f, #28b487);
}


.nav_el a:active .nav_el {
    border-right: 1px solid red;
}

.personal__info {
    margin-bottom: 20%;
}

.form__photo-upload,
.form__file-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}

.form__photo-upload label,
.form__file-upload label {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.form__photo-upload label:hover {
    background-color: #20bf6b;
    color: white;
    transition: 0.5s;
}

.form__photo-upload label:hover::before {
    opacity: 1;
    transition: 0.7s;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.form__photo-upload label::before {
    position: absolute;
    content: "";
    top: -9px;
    left: -13px;
    width: 115%;
    height: 135%;
    border: 3px solid #20bf6b;
    z-index: 100;
    opacity: 0;
}

.form__user-photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.overview_section h4,
.password_portion h4 {
    color: #28b487;
    font-size: 1.3rem;
    font-weight: 700;
    display: inline;
    padding: 5px 0 5px;
    border-bottom: 0.5px solid #7dd56f;
}

.error {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 1rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #20bf6b;
}

.alert--error {
    background-color: #eb4d4b;
}
.dropdown-toggle::after {
    display: none !important;
 
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #200952, #3AB89F) !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 10px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 5px;
  border-bottom: 1px solid #dddddd;
  color: #eeeeee;
  display: block;
  transition: 0.3s;
}
.sidebar span{
    margin-top: 10px;
    color: white;
    cursor: pointer
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #3466D5;
  color: white;
  padding: 10px 15px;
  border: none;
}

#openbtn:hover {
  background-color: #5976b3;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}