<div class="container-fluid" style="min-height: 100%; overflow: auto;">

    <div class="row" style="margin-top: 120px;">
        <div class="col-lg-6 d-none-md">

        </div>
        <div class="col-lg-6 col-md-12">

            <app-errors [message]="error!=''?error:''"></app-errors>
            <div class="panel">
                <h2 class="lead-text mb-3">Login Form</h2>
            </div>
            <form id="Login" [formGroup]="credentials">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="email"
                        formControlName="email" required>
                    <div *ngIf="credentials.get('email').invalid && (credentials.get('email').dirty || credentials.get('email').touched)"
                        class="alert alert-danger">
                        <div *ngIf="credentials.get('email').errors.required">
                            * Email is required.
                        </div>
                        <div *ngIf="credentials.get('email').errors.email">
                            * Please provide valid email
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                        name="password" formControlName="password" required>
                    <div *ngIf="credentials.get('password').invalid && (credentials.get('password').dirty || credentials.get('password').touched)"
                        class="alert alert-danger">
                        <div *ngIf="credentials.get('password').errors.required">
                            * Password is required.
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="signIn()">Login</button>

                <div class="forgot pt-3">
                    <a [routerLink]="['../forgot-password']" routerLinkActive="router-link-active">Forgot
                        password?</a><br>
                    <a [routerLink]="['/user/signup']">No account? Create one</a>
                </div>
            </form>
        </div>
    </div>

</div>
